input[type=range] {
  width: 100%;
  margin: 18px 0;
  -webkit-appearance: none;
  transition: opacity 0.2s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:disabled {
  color: #000000;
}

input[type=range] + label {
  background-color: #ffffff;
  position: absolute;
  top: -15px;
  left: calc(50% - 1.823vw);
  width: 60px;
  padding: 0px 0;
  text-align: center;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: calc(11px + 1 * ((100vw - 320px) / 1120));
  z-index: 999;
}

/* Chrome & Safari */
input[type=range]::-webkit-slider-runnable-track {
  background: #d8e0f3;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  background: #fff;
  border-radius: 50%;
  border: 8.5px solid #f49a42;
  margin-top: -8px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* Firefox */
input[type=range]::-moz-range-track {
  background: #d8e0f3;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 8px solid #f49a42;
  margin-top: -10px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* IE */
input[type=range]::-ms-track {
  background: #d8e0f3;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 8px solid #f49a42;
  margin-top: -10px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}