@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
input[type=range] {
  width: 100%;
  margin: 18px 0;
  -webkit-appearance: none;
  transition: opacity 0.2s;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:disabled {
  color: #000000;
}

input[type=range] + label {
  background-color: #ffffff;
  position: absolute;
  top: -15px;
  left: calc(50% - 1.823vw);
  width: 60px;
  padding: 0px 0;
  text-align: center;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: calc(11px + 1 * ((100vw - 320px) / 1120));
  z-index: 999;
}

/* Chrome & Safari */
input[type=range]::-webkit-slider-runnable-track {
  background: #d8e0f3;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;
  background: #fff;
  border-radius: 50%;
  border: 8.5px solid #f49a42;
  margin-top: -8px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* Firefox */
input[type=range]::-moz-range-track {
  background: #d8e0f3;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 8px solid #f49a42;
  margin-top: -10px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

/* IE */
input[type=range]::-ms-track {
  background: #d8e0f3;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: #fff;
  border-radius: 50%;
  border: 8px solid #f49a42;
  margin-top: -10px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satoshi", sans-serif;
  height: 100vh;
}

.range-input {
  position: relative;
  width: 100%;
}

.progress {
  position: absolute;
  content: "";
  width: 50%;
  height: 4px;
  background-color: #f49a42;
  top: calc(50% - 2px);
  z-index: 1;
  max-width: 100%;
}

.range-container {
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
  width: 100%;
}

.range-container span {
  position: relative;
  top: -15px;
  width: 0px;
  height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: calc(10px + 1 * ((100vw - 320px) / 1120));
}

.range-container span:nth-child(1) {
  text-align: left;
  left: 1.5%;
}

.range-container span:nth-child(3) {
  text-align: right;
}

.range-wrapper:nth-child(1) .range-container span:nth-child(3) {
  left: -9%;
}

.range-wrapper:nth-child(2) .range-container span:nth-child(3) {
  left: -12%;
}

.range-wrapper:nth-child(3) .range-container span:nth-child(3) {
  left: -6%;
}

.range-wrapper:nth-child(2) {
  margin: 0px 30px;
}

.ranges-layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.range-wrapper .range-title {
  font-size: calc(10px + 6 * ((100vw - 320px) / 1120));
  text-align: center;
}

.calc-container {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 0px 30px 8px rgba(34, 60, 80, 0.2);
  padding: 40px 30px 10px 30px;
  border-radius: 15px;
  margin: 30px 30px;
  justify-content: center;
  align-items: center;
}
.calc-container .result-layer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.calc-container .result-layer__cost-save {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.calc-container .result-layer__cost-save .result-container:nth-child(1) {
  margin-right: 20px;
}
.calc-container .result-layer__roi {
  width: 100%;
}
.calc-container .result-layer .result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #f8f8f8;
  margin: 10px 0px;
  padding: 10px 10px 30px 10px;
  font-size: calc(10px + 5 * ((100vw - 320px) / 1120));
  border-radius: 5px;
}
.calc-container .result-layer .result-container .input-result {
  background: #ffffff;
  display: flex;
  border: 1px solid #f49a42;
  margin-top: 11px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: calc(10px + 5 * ((100vw - 320px) / 1120));
}

.send-result {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  width: 100%;
  background: #ffecd9;
  padding: 5px 10px 30px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.send-result ::-moz-placeholder {
  color: #c2bfbd;
}
.send-result :-ms-input-placeholder {
  color: #c2bfbd;
}
.send-result ::placeholder {
  color: #c2bfbd;
}
.send-result p {
  max-width: 70%;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
  line-height: 18px;
}
.send-result p span {
  color: #ff0000;
}
.send-result input[type=email] {
  width: 100%;
  padding: 5px 0px 3px 7px;
  height: 4vh;
  margin: 10px 0px 15px 0px;
}
.send-result .send-button {
  font-size: calc(10px + 2 * ((100vw - 320px) / 1120));
  background: #f49a42;
  width: 30%;
  height: 3.5vh;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 25px;
}