@import 'nullset.scss';
@import 'inputs.scss';

.range-container {
  position: relative;
}

//color path

.progress{
  position: absolute;
  content:'';
  width: 50%;
  height: 4px;
  background-color: #f49a42;
  top: calc(50% - 2px);
  z-index: 1;
  max-width: 100%;
}

.range-wrapper span{
  position: relative;
  top: -5%;
}

.range-wrapper{
  display: flex;
  flex-direction: row;
  margin: 50px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Metropolis', sans-serif;
}
